body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header ul li {
    width: 100%;
    display: inline;
    color: black;
    background-color: coral;
    padding: 18px;
    border-radius: 10px;

}

ul {
    list-style: none;
}

.logo {
    position: absolute;
    float: left;
    border-bottom: solid 2px blue;
    margin-left: 2px;
    width: 100%;
    padding-bottom:25px ;
}

.navbar {
    float: right;
    position: relative;
    padding: 2px;

    
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}